@use "./fonts";

:root {
  direction: rtl;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fonts.$regular;
}

// body{
//   max-width: 1680px;
//   margin: 0 auto;
// }

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
