@use "/src/sass/utils/mixins.scss" as *;
@use "/src/sass/base/fonts";
@use "/src/sass/base/colors" as colors;

section.hero {
    @include flex(row-reverse, initial, initial);
    width: 100%;
    height: 550px;
    position: relative;
    color: colors.$white;
    padding: 2rem;

    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        opacity: 0.2;
    }

    .hero-contents {
        @include flex(row-reverse, center, center);
        width: 100%;
        height: 100%;

        .right {
            @include flex(column, center, center);
            gap: 1.2rem;
            border-radius: 1.8rem 0 0 1.8rem;
            width: 90%;
            height: 100%;
            background-color: #171717;
        }

        .side {
            width: 10%;
            height: 100%;
            background-color: #171717;
            border-radius: 0 1.8rem 0 0;
            position: relative;
        }

        .hero-offset {
            width: 200px;
            height: 22.41%;
            background-color: #12c32c;
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 1.8rem 0 0 0;
        }

        .top-right-mask {
            width: 80px;
            height: 80px;
            background-color: red;
            position: absolute;
            top: -80px;
            right: 0;
            border-radius: 100% 0 1.8rem 0;
        }

        h1 {
            font-size: 3rem;
        }

        h2 {
            @include flex(row, center, center);
            font-size: 2rem;

            .arrow {
                width: 32px;
                height: 32px;
                border-radius: 8px;
                background-color: colors.$neutral-20;
                background-image: url('/assets/icons/Arrows/Arrow-Left.svg');
                background-repeat: no-repeat;
                background-position: center center;
                margin-right: 0.5rem;
                background-size: 60%;
            }
        }
    }

    .forward {
        position: absolute;
        bottom: -8px;
        right: 30px;

        button {
            display: none;
            width: 150px;
            height: 90px;
            background-color: #eb0000;
            border: none;
            background-image: url('/assets/icons/Arrows/Arrow-Right-Up.svg');
            background-size: 45%;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 16px;
        }
    }
}

.special-sales {
    @include flex(column, center, center);
}