@use "/src/sass/utils/mixins.scss" as *;
@use "/src/sass/base/fonts";
@use "/src/sass/base/colors" as colors;

section.hero {
    @include flex(row-reverse, initial, initial);
    width: 100%;
    height: 100%;
    position: relative;
    color: colors.$white;
    padding: 2.5rem;

    .texts-container {
        @include flex(row, center, center);
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;

        .texts {
            @include flex(column, center, initial);
            z-index: 1;
            width: max-content;
            height: max-content;
            position: relative;
            right: 130px;

            h2 {
                font-size: 3.5rem;
                font-family: fonts.$medium;
            }

            h3 {
                font-family: fonts.$regular;
                font-size: 1.8rem;
                margin-top: 1rem;

                a.arrow-left {
                    background-color: #e3e3e3;
                    border: none;
                    border-radius: 0.5rem;
                    width: 32px;
                    height: 32px;
                    background-image: url('/assets/icons/Arrows/arrow-left.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 60%;
                    position: absolute;
                    margin-right: 0.5rem;
                }
            }

            span {
                position: absolute;
                font-family: fonts.$en;
                font-size: 7rem;
                color: #ffffff;
                opacity: 0.1;
                top: -70px;
                left: -190px;
            }

            .shine {
                width: 487px;
                height: 487px;
                position: absolute;
                inset: -200px 80px;
                background: #BDBDBD;
                background: radial-gradient(circle, rgba(255, 255, 255, 0.19) 0%, rgba(0, 0, 0, 0) 100%);
                opacity: 0.5;
                border: none;
                border-radius: 50%;
                filter: blur(100px);
            }
        }

    }


    .banner {
        width: 100%;
        height: 100%;
        position: relative;

        & img {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }

        & a.link-forward {
            position: absolute;
            background-color: #171717;
            width: 11%;
            height: 20%;
            border: none;
            border-radius: 1.5rem;
            bottom: 10px;
            right: 0;
            background-image: url('/assets/icons/Arrows/arrow-right-up.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 40%
        }

        & .logo {
            position: absolute;
            top: 30px;
            left: 40px;
            width: 10%;
            height: 120px;
        }
    }
}

.gendred-collections {
    width: 100%;
    height: 400px;
    padding: 0 2rem;
    margin: 2rem 0;
    position: relative;

    .womens-section::before {
        position: absolute;
        content: "WOMENS CLOTHING";
        width: max-content;
        height: max-content;
        font-family: fonts.$en;
        font-size: 6vw;
        color: colors.$neutral-40 ;
        opacity: 0.4;
        left: -8rem;
        top: 2rem;
    }


    .womens-section {
        @include flex(row, center, center);
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 2rem;
        padding: 0 2rem;

        img {
            width: 30%;
            position: absolute;
            bottom: 0;
        }

        span {
            font-size: 5.3vw;
            font-family: fonts.$en;
            color: colors.$neutral-40;
            opacity: 0.4;
            letter-spacing: 0.2vw;
            text-align: left;
            width: fit-content;
            height: fit-content;
            padding: 0 2rem;
        }
    }

    .mens-section {
        @include flex(row, center, center);
        width: 50%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 2rem;
        padding: 0 2rem;

        img {
            width: 48%;
            position: absolute;
            bottom: 0;
        }

        span {
            font-size: 5.5vw;
            font-family: fonts.$en;
            color: colors.$neutral-40;
            opacity: 0.4;
            letter-spacing: 1vw;
            text-align: left;
            width: fit-content;
            height: fit-content;
            padding: 0 2rem;
        }
    }

    .background {
        background: #C9C9C9;
        background: linear-gradient(90deg, rgba(201, 201, 201, 1) 100%, rgb(93, 93, 93) 100%);
        width: 100%;
        height: 100%;
        content: "";
        border-radius: 2rem;
        position: relative;

        & .borders {
            position: absolute;
            content: '';
            background-color: #fff;

            &:before,
            &:after {
                background-color: transparent;
                content: "";
                position: absolute;
                width: 2rem;
                height: 2rem;
            }
        }

        .border-top {
            width: 25px;
            height: 50%;
            top: 0;
            left: 40%;

            &::before {
                left: -2rem;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                transform: scale(-1, 1);
            }

            &:after {
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                top: 0;
                right: -2rem;
            }
        }

        .border-center {
            width: 25%;
            height: 25px;
            top: 50%;
            left: 40%;

            &::before {
                left: 1.5rem;
                top: -2rem;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                transform: scale(1, -1);
            }

            &::after {
                left: 0;
                bottom: 0;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #c9c9c9 2rem);
                transform: scale(1, -1);
            }
        }

        .border-bottom {
            width: 25px;
            height: 50%;
            bottom: 0;
            right: 35%;

            &::before {
                left: -2rem;
                bottom: 0;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                transform: scale(-1);
            }

            &:after {
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                bottom: 0;
                right: -2rem;
                transform: scale(1, -1);
            }
        }

        .extra {
            background-color: transparent;
            width: 25px;
            height: 25px;
            right: 35%;
            top: 50%;

            &::before {
                left: -2rem;
                bottom: -2rem;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                transform: scale(-1, 1);
            }


            &::after {
                left: -0.4rem;
                bottom: -0.4rem;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #c9c9c9 2rem);
                transform: scale(-1, 1);
            }
        }
    }

}

.special-sales {
    @include flex(column, center, center);
}