@use "/src/sass/utils/mixins.scss" as *;
@use "/src/sass/base/fonts";
@use "/src/sass/base/colors" as colors;

section.hero {
    @include flex(row-reverse, initial, initial);
    width: 100%;
    height: 100%;
    position: relative;
    color: colors.$white;
    padding: 2.5rem;

    & .texts-container {
        @include flex(row, center, center);
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;

        & .texts {
            @include flex(column, center, initial);
            z-index: 1;
            width: max-content;
            height: max-content;
            position: relative;
            right: 130px;

            & h2 {
                font-size: 3.5rem;
                font-family: fonts.$medium;
            }

            & h3 {
                font-family: fonts.$regular;
                font-size: 1.8rem;
                margin-top: 1rem;

                & a.arrow-left {
                    background-color: #e3e3e3;
                    border: none;
                    border-radius: 0.5rem;
                    width: 32px;
                    height: 32px;
                    background-image: url('/assets/icons/Arrows/arrow-left.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 60%;
                    position: absolute;
                    margin-right: 0.5rem;
                }
            }

            & span {
                position: absolute;
                font-family: fonts.$en;
                font-size: 7rem;
                color: #ffffff;
                opacity: 0.1;
                top: -70px;
                left: -190px;
            }

            & .shine {
                width: 487px;
                height: 487px;
                position: absolute;
                inset: -200px 80px;
                background: #BDBDBD;
                background: radial-gradient(circle, rgba(255, 255, 255, 0.19) 0%, rgba(0, 0, 0, 0) 100%);
                opacity: 0.5;
                border: none;
                border-radius: 50%;
                filter: blur(100px);
            }
        }

    }


    .banner {
        width: 100%;
        height: 100%;
        position: relative;

        & img {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }

        & a.link-forward {
            position: absolute;
            background-color: #171717;
            width: 11%;
            height: 20%;
            border: none;
            border-radius: 1.5rem;
            bottom: 10px;
            right: 0;
            background-image: url('/assets/icons/Arrows/arrow-right-up.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 40%
        }

        & .logo {
            position: absolute;
            top: 30px;
            left: 40px;
            width: 10%;
            height: 120px;
        }
    }
}

.gendred-collections {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    height: 400px;
    padding: 0 2rem;
    margin: 2rem 0;
    position: relative;

    & div {

        & img {
            pointer-events: none;
        }

        & a {
            @include flex(row, center, center);
            width: max-content;
            height: max-content;
            gap: 0.5rem;
            text-decoration: none;
            color: colors.$primary;
            font-family: fonts.$bold;
            font-size: 2rem;
            position: absolute;

            & div.hyper-anchor {
                background-color: #171717;
                width: 40px;
                height: 40px;
                content: "";
                opacity: 1;
                border-radius: 0.5rem;
                background-image: url('/assets/icons/Arrows/arrow-left.svg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 60%;
            }
        }
    }

    .womens-section {
        @include flex(row, flex-end, flex-start);
        width: 58%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 2rem;
        padding: 0 2rem;

        & img {
            width: 26%;
            position: absolute;
            bottom: 0;
            right: 30%;
            z-index: 1;
        }

        & span {
            font-size: 4.3vw;
            font-family: fonts.$en;
            color: colors.$neutral-40;
            opacity: 0.4;
            letter-spacing: 0.2vw;
            text-align: left;
            width: 100%;
            height: fit-content;
            margin-top: 2rem;
        }

        & a {
            bottom: 10%;
            right: 10%;
        }

    }

    .mens-section {
        @include flex(row, center, flex-end);
        width: 63%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 2rem;
        padding: 0 2rem;

        & img {
            width: 38%;
            position: absolute;
            bottom: 0;
            left: 20%;
            z-index: 1;
        }

        & span {
            font-size: 5vw;
            font-family: fonts.$en;
            color: colors.$neutral-40;
            opacity: 0.4;
            word-spacing: 15rem;
            text-align: left;
            width: 100%;
            height: fit-content;
            padding: 0 2rem;
            margin-bottom: 2rem;
        }


        & a {
            top: 20%;
            left: 8%;
        }
    }

    .background {
        background: #C9C9C9;
        background: linear-gradient(90deg, rgba(201, 201, 201, 1) 100%, rgb(93, 93, 93) 100%);
        width: 100%;
        height: 100%;
        content: "";
        border-radius: 2rem;
        position: relative;

        & .borders {
            position: absolute;
            content: '';
            background-color: #fff;

            &:before,
            &:after {
                background-color: transparent;
                content: "";
                position: absolute;
                width: 2rem;
                height: 2rem;
            }
        }

        .border-top {
            width: 25px;
            height: 50%;
            top: 0;
            left: 40%;

            &::before {
                left: -2rem;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                transform: scale(-1, 1);
            }

            &:after {
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                top: 0;
                right: -2rem;
            }
        }

        .border-center {
            width: 25%;
            height: 25px;
            top: 50%;
            left: 40%;

            &::before {
                left: 1.5rem;
                top: -2rem;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                transform: scale(1, -1);
            }

            &::after {
                left: 0;
                bottom: 0;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #c9c9c9 2rem);
                transform: scale(1, -1);
            }
        }

        .border-bottom {
            width: 25px;
            height: 50%;
            bottom: 0;
            right: 35%;

            &::before {
                left: -2rem;
                bottom: 0;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                transform: scale(-1);
            }

            &:after {
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                bottom: 0;
                right: -2rem;
                transform: scale(1, -1);
            }
        }

        .extra {
            background-color: transparent;
            width: 25px;
            height: 25px;
            right: 35%;
            top: 50%;

            &::before {
                left: -2rem;
                bottom: -2rem;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
                transform: scale(-1, 1);
            }


            &::after {
                left: -0.4rem;
                bottom: -0.4rem;
                background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #c9c9c9 2rem);
                transform: scale(-1, 1);
            }
        }
    }

}

.special-season-sale {
    @include flex(column, center, center);
    margin: 5rem 0 0 0;
    width: 100%;
    height: 100%;
    padding: 0 2rem;

    & h2 {
        font-size: 2.2rem;
    }

    & .background {
        @include flex(row, space-evenly, flex-start);
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        border-radius: 24px;
        margin: 2rem;
        gap: 1rem;
        padding: 2rem 0 8rem 0;
        position: relative;


        .right-dot,
        .left-dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            background: colors.$primary;
            opacity: 0.6;

        }

        .right-dot {
            right: 16px;
            bottom: 16px;
        }

        .left-dot {
            left: 16px;
            bottom: 16px;
        }
    }

    & .countdown {
        @include flex(row-reverse, center, center);
        background-color: #fff;
        width: 250px;
        height: 80px;
        border-radius: 2rem 2rem 0 0;
        gap: 0.5rem;
        font-family: fonts.$en;
        font-size: 3rem;
        position: absolute;
        bottom: 0;

        & .hour,
        .minute,
        .second {
            @include flex(row, center, center);
            background-color: #222;
            width: 56px;
            height: 56px;
            border-radius: 1rem;

            & span {
                font-family: fonts.$en;
                font-size: 1.4rem;
                color: #fff;
            }
        }

        &:before,
        &:after {
            position: absolute;
            content: "";
            width: 2rem;
            height: 2rem;
            background-image: radial-gradient(circle at 100% 100%, transparent 2rem, #fff 2rem);
        }

        &:before {
            left: -2rem;
            bottom: 0;
            transform: scale(-1);
        }

        &:after {
            right: -2rem;
            bottom: 0;
            transform: scale(1, -1);
        }

        .top-right-line,
        .top-left-line,
        .bottom-right-line,
        .bottom-left-line {
            position: absolute;
            width: 160px;
            height: 4px;
            background: colors.$primary;
            opacity: 0.2;
            border-radius: 10px;
            bottom: 50%;
        }

        .top-right-line {
            right: -75%;
        }

        .top-left-line {
            left: -75%;
        }

        .bottom-right-line,
        .bottom-left-line {
            width: 100px;
            height: 4px;
            bottom: 25%;
        }

        .bottom-right-line {
            right: -51%;
        }

        .bottom-left-line {
            left: -51%;
        }
    }
}

.quick-access-links {
    @include flex(row-reverse, space-between, center);
    gap: 2rem;
    width: 100%;
    height: max-content;
    padding: 2rem;
}

.newest-of-black-dark {
    @include flex(column, initial, center);
    width: 100%;
    height: 650px;
    margin: 2rem 0;
    padding: 2rem 0;
    gap: 2rem;
    background-color: colors.$neutral-20;

    .swiper {
        width: 95% !important;
        height: 100% !important;
        background-color: #f0f0f0;
        padding: 2rem 0.5rem;
        border-radius: 1.5rem;
    }

    .swiper-slide {
        width: max-content !important;
        height: max-content !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-color: colors.$primary;
        width: 100px;
        height: 56px;
        border-radius: 12px;
        top: 90%;

        &::after {
            color: transparent;
            background-color: #171717;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40px 40px;
            width: 100px;
            height: 56px;
            padding: 0.5rem;
            outline: 15px solid colors.$neutral-20;
            position: absolute;
            top: 10px;
            right: 5px;
            border-radius: 0.4rem 0 0.4rem 0;
        }
    }

    .swiper-button-next {
        &::after {
            background-image: url('/assets/icons/Arrows/next-arrow.svg');
            border-radius: 0 0.4rem 0 0.4rem;
        }
    }

    .swiper-button-prev {
        &::after {
            background-image: url('/assets/icons/Arrows/prev-arrow.svg');
        }
    }


    .swiper-pagination {
        .swiper-pagination-bullet {
            background-color: colors.$primary;
            width: 16px;
            height: 12px;
            border-radius: 0.25rem;
        }

        .swiper-pagination-bullet-active {
            width: 32px;
        }
    }

    h2 {
        font-family: fonts.$medium;
        font-size: 2rem;
    }
}